.styles_emoji{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 10px;
}

.style_eye{
align-self: flex-end;
background-color: #e27f4d;
width: 50px;
display: grid;
align-content: center;
grid-auto-flow: column;
justify-content: left;
border-radius: 5px;




}

.style_placement{
    justify-self: flex-end;
    align-self: flex-start;
    display: grid;
   grid-auto-flow: column;
   gap: 10px;
    justify-content:flex-end;
    width: 100%;
   
}

